header {
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	background: #f5f5f7;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1000;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Logo in the header*/
.header-logo {
	display: flex;
	width: 100px;
	justify-content: flex-start;
	margin-left: 40px;
}

.header-logo img {
	width: 60px;
	cursor: pointer;
}

/*Links in the header*/
.header-links {
	flex: 1;
}

label {
	display: none;
	color: rgb(70, 70, 70);
}

.header-links ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	gap: 50px;
	list-style: none;
}

.header-links a {
	color: rgb(70, 70, 70);
	font-size: 14px;
	text-decoration: none;
	transition: color 0.15s;
}

.header-links a:hover {
	color: #c4544a;
}

/*Button in the header*/
.header-button {
	display: flex;
	width: 100px;
	justify-content: flex-end;
	margin-right: 40px;
}

.header-button button {
	height: 33px;
	width: 70px;
	background-color: transparent;
	outline: none;
	font-size: 14px;
	font-weight: 700;
	color: #c4544a;
	border: 1.5px solid #c4544a;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.15s, color 0.15s;
}

.header-button button:hover {
	background-color: #c4544a;
	color: white;
}

.header-button button:active {
	opacity: 0.8;
}

/*Responsive content*/
@media (max-width: 710px) {
	header {
		justify-content: space-between;
		padding: 0 30px;
	}

	/*Logo in the header*/
	.header-logo {
		margin-left: 0;
	}

	label {
		display: flex;
		margin-left: auto;
		font-size: 20px;
		cursor: pointer;
	}

	/*Links in the header*/
	.header-links {
		position: absolute;
		background: #f5f5f7;
		top: 56px;
		left: 0;
		right: 0;
		padding: 25px 0;
		box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
		visibility: hidden;
		opacity: 0;
		transition: 0.15s ease-in-out;
	}

	.header-links ul {
		text-align: center;
		flex-direction: column;
		gap: 25px;
	}

	/*Check box connects to the icon*/
	input:checked ~ .header-links {
		visibility: visible;
		opacity: 1;
	}

	/*Button in the header*/
	.header-button {
		display: none;
	}
}
